@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


:root {
    --warna1 : #2B8B85;
    --warna2 : #F8F8F8;
    --warna3 : #fff;
    --warna4 : #084642;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--warna2);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}


/* Navbar */
#nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: var(--warna1);
    overflow: hidden;
    z-index: 999999;
}

.nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 80px;
    padding: 0 50px;
}

.tom-container{
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 12px;
    gap: 30px;
}
.tom {
    width: 40px;
    height: 40px;
    background-color: var(--warna3);
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    box-shadow: -5px 4px 6px #00000016;
}
.tom i {
    color: var(--warna4);
}


.search-container{
    display: flex;
    width: 536px;
    height: 100%;
    text-align: center;
}

.kol-search{
    width: 100%;
    height: 40px;
    border-radius: 50px 0 0 50PX;
    border: none;
    padding: 10px 15px;
    outline: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--warna4);
    margin: auto;
}

.search-container button{
    position: relative;
    width: 108px;
    height: 40px;
    border-radius: 0 50px 50px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--warna4);
    margin: auto;
}
.search-container button i{
    color: var(--warna3);
}

.search-container button:hover{
    box-shadow: -5px 4px 6px #00000020;
}

.logo {
    text-align: center;
    margin: auto 0;
}

.logo a {
    color: var(--warna3);
    font-size: 33px;
}

.kat{
    margin: auto 0;
    text-align: center;
    color: var(--warna3);
    font-size: 18px;
}

/* Banner Section */
.container-slide{
    margin-top: 70px;
    width: 100%;
    min-height: 100%;
    background: var(--warna3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper{
    width: 100%;
    height: 350px;
    text-align: center;
}
.swiper-slider img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next{
    color: var(--warna3);
    opacity: 0.6;
}
.swiper .swiper-pagination-bullet-active{
    background: var(--warna3);
}
