/* LOGIN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color:#084642;
}
a:hover{
    color: #2B8B85;
}
body{
    background-color: #F8F8F8;
    color:#084642;
    font-family: 'Poppins', sans-serif;
}
#card{
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0.65, 0.65);
    height: 496px;
    margin: 5% auto;
    width: 1000px;
}
#card-content {
    padding: 12px 44px;
}
.form{
    align-items: left;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}
label{
    font-size: 11pt;
}

input {
    border: 1px solid #2B8B85;
    margin: 1% auto;
    border-radius: 20px;
    font-size: 1rem;
    color: #656880;
    height: 29px;
    width: 720px;
    padding-left: 20px;
}

::placeholder {
    position: relative;
    text-transform: uppercase;
}
.form-content{
    outline: none;

}
.underline-title{
    background: -webkit-linear-gradient(right, #2B8B85;, #2B8B85;);
    height: 2px;
    margin: 5% auto;
    width: 89px;
}

#submit-btn {
    background: #2B8B85;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    height: 42.3px;
    margin: 1% auto;
    width: 720px;
}
#submit-btn:hover {
    box-shadow: 0px 1px 18px #2B8B85;
}


@media only screen and (max-width: 760px){
    body{
        margin: 5% auto;
        width: 90%;
    }
}
