/* LOGIN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color:#084642;
}
a:hover{
    color: #2B8B85;
}
body{
    margin: 5% auto;
    background-color: #F8F8F8;
    color:#084642;
    font-family: 'Poppins', sans-serif;
}

.card {
    margin: 2% auto;
    width: 70%;
    position: relative;
    box-shadow: 0 5px 8px 0 #EEEEEE, 0 6px 20px 0 #EEEEEE;
    padding: 1.5rem !important;
    border-radius: 10px;
    word-break: break-word;
    -webkit-box-pack: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.form{
    align-items: left;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}
label{
    font-size: 11pt;
}

input {
    border: 1px solid #2B8B85;
    margin: 1% auto;
    border-radius: 20px;
    font-size: 1rem;
    color: #656880;
    height: 29px;
    width: 720px;
    padding-left: 20px;
}

::placeholder {
    position: relative;
    text-transform: uppercase;
}
.form-content{
    outline: none;

}
.underline-title{
    background: -webkit-linear-gradient(right, #2B8B85;, #2B8B85;);
    height: 2px;
    margin: 5% auto;
    width: 89px;
}

#submit-btn {
    background: #2B8B85;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    height: 42.3px;
    margin: 1% auto;
    width: 720px;
}
#submit-btn:hover {
    box-shadow: 0px 1px 18px #2B8B85;
}


@media only screen and (max-width: 760px){
    body{
        margin: 5% auto;
        width: 90%;
    }
    .card{
        width: 90%;
    }
    input{
        width: 90%;
    }
    #submit-btn{
        width: 100%;
    }
}
