@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


:root {
    --warna1 : #871e5f;
    --warna2 : #F8F8F8;
    --warna3 : #fff;
    --warna4 : #EA8D30;
    --warna5 : #a5367a;
    --warna6 : #FF1E00;
    --warna7 : #111;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--warna2);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}


/* Navbar */
#nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #871e5f;
    overflow: hidden;
    z-index: 999999;
}

.nav {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    gap: 50px;
    padding: 0 50px;
}

#nav.stiki{
    box-shadow: 0 5px 10px #00000070;
}

.nav-mobile{display: none;}

.tom-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
    margin: auto 0;
    gap: 30px;
}
.tom {
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--warna3);
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    box-shadow: -5px 4px 6px #00000016;
}
.tom-akwoak {
    margin: 5px;

    background-color: var(--warna3);

    text-align: center;
    border-radius: 50%;
    box-shadow: 0 5px 8px 0 lightgrey, 0 6px 20px 0 #EEEEEE;
}

.tom i {
    color: var(--warna4);
}
.con-ham{
    display: none;
}


.search-container{
    display: flex;
    width: 450px;
    height: 100%;
    text-align: center;
}
.search-container form{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.kol-search{
    width: 80%;
    height: 40px;
    border-radius: 50px 0 0 50PX;
    border: none;
    padding: 10px 15px;
    outline: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--warna7);
    margin: auto;
    box-shadow: -5px 4px 6px #00000020;
}

.search-container button{
    position: relative;
    width: 108px;
    height: 40px;
    border-radius: 0 50px 50px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--warna4);
    margin: auto;
    box-shadow: -5px 4px 6px #00000020;
}
.search-container button i{
    color: var(--warna3);
}

.search-container button:hover{
    box-shadow: -5px 4px 6px #00000020;
}

.logo{
    display: block;
    width: 150px;
    display: flex;
    justify-content: center;
    padding: auto;
}
.logo a{
    height: 60px;
}

.logo img {
    position: relative;
    width: 120px;
    margin-top: 7px;
    object-fit: contain;
}
.hamburger{
    display: none;

}

@media only screen and (max-width: 824px){
    .search-container button{
        width: 60px;
        left: -10px;
    }
    .tom-container{
        margin-right: 30px;
        margin-left: 10px;
        width: 100px;
        gap: 18px;
    }
}
@media only screen and (max-width: 615px){
    .nav{
        gap: 20px;
        padding: 0 20px;
    }
    .tom-container{
        display: none;
    }
    .con-ham,.con-close{
        display: flex;
        justify-content: center;
        width: 50px;
        margin: auto 0;
    }
    .search-container{
        display: none;
    }
    .hamburger,.close{
        display: inline;
        width: 40px;
        height: 40px;
        background-color: var(--warna3);
        padding: 8px;
        text-align: center;
        border-radius: 50%;
        box-shadow: -5px 4px 6px #00000020;
        cursor: pointer;
    }
    .con-close {
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .hamburger i,.close i{
        color: var(--warna4);
    }
    .nav-mobile{
        display: flex;
        background-color: var(--warna1);
        width: 70%;
        transform: translateX(30rem);
        transition: transform 0.5s cubic-bezier(0.56,0.1,0.34,0.91);
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .active > .nav-mobile{
        transform: translateX(0);
    }
    .nav-mobile-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin: auto;
        padding-top: 50px;
        width: 80%;
        height: 80vh;
        gap: 50px;
    }
    .search-container-mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .search-container-mobile .kol-search{
        width: 70%;
        border-radius: 50px 0 0 50px;
    }
    .search-container-mobile button {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 0 50px 50px 0;
        border: none;
        outline: none;
        cursor: pointer;
        background: var(--warna4);
        margin-left: -5px;
        top: -1px;
    }
    .search-container-mobile button i {
        color: var(--warna3);
    }
    .tom-container-mobile{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        gap: 10%;
    }

}
@media only screen and (max-width: 430px){
    .nav{
        gap: 5px;
        padding: 0 20px;
    }
    .search-container form{
        visibility: hidden;
    }
}

/* Banner Section */
.container-slide{
    margin-top: 70px;
    width: 100vw;
    background: var(--warna5);
    display: flex;
    justify-content: center;
}
.swiper{
    text-align: center;
}
.swiper-wrapper {
    width: 100%;
    max-height: 300px;
}
.img-slider{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: fill;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next{
    margin: 0 5vw;
    color: var(--warna3);
    opacity: 0.7;
    height: 20px;
}
.swiper .swiper-pagination-bullet-active{
    background: var(--warna3);
    opacity: 0.7;
}
@media only screen and (max-width: 824px){
    .swiper .swiper-button-prev,
    .swiper .swiper-button-next{
        height: 10px;
    }
}
@media only screen and (max-width: 430px){
    .swiper .swiper-button-prev,
    .swiper .swiper-button-next{
        display: none;
    }
}

/* Produk Section */
#produk-terbaru{
    display: flex;
    justify-content: center;
}
.produk-container{
    margin: 50px;
    width: 1200px;
    min-height: 500px;
}

.produk-container > h1{
    font-size: 22px;
    color: var(--warna4);
    text-transform: uppercase;
    margin-left: 2vw;
}
.produk-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px;
}
.produk-box{
    margin: 7px;
    display: flex;
    width: 270px;
    height: 445px;
    background-color: var(--warna3);
    border-radius: 15px;
    box-shadow: 0 5px 8px 0 lightgrey, 0 6px 20px 0 #EEEEEE;
}
.produk-box a div{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.produk-box a div img {
    width: 270px;
    height: 270px;
    border-radius: 15px 15px 0 0;
}
.produk-box .ket{
    width: 100%;
    height: max-content;
    padding: 20px;
}
.produk-box .ket h2 {
    font-size: 16px;

    height: 47px;
    overflow-y: hidden;
    color: var(--warna7);
    margin-bottom: 10px;
    text-transform: capitalize;
}
.produk-box .ket h3 {
    font-size: 18px;
    color: var(--warna4);
    margin-bottom: 10px;
}
.produk-box .ket div {
    display: flex;
    width: 100%;
    gap: 3px;
}
.produk-box .ket div i{
    color: var(--warna4);
    font-size: 12px;
}
@media only screen and (max-width: 1272px){
    .produk-box{
        width: 250px;
        height: 410px;
    }
    .produk-box a div img{
        width: 250px;
        height: 250px;
    }
}
@media only screen and (max-width: 1192px){
    .produk-box{
        width: 220px;
        height: 355px;
    }
    .produk-box a div img{
        width: 220px;
        height: 220px;
    }
    .produk-box .ket{
        padding: 15px;
    }
    .produk-box .ket h2 {
        font-size: 14px;
        height: 40px;
        margin-bottom: 8px;
    }
    .produk-box .ket h3 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .produk-box .ket div {
        gap: 2px;
    }
    .produk-box .ket div i{
        color: var(--warna4);
        font-size: 9px;
    }
}
@media only screen and (max-width: 1072px){
    .produk-box{
        width: 200px;
        height: 330px;
    }
    .produk-box a div img{
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width: 1030px){
    .produk-box{
        width: 190px;
        height: 320px;
    }
    .produk-box a div img{
        width: 190px;
        height: 190px;
    }
}
@media only screen and (max-width: 952px){
    .produk-list{
        gap: 15px;
    }
    .produk-box{
        border-radius: 10px;
    }
    .produk-box{
        width: 170px;
        height: 280px;
    }
    .produk-box a div img{
        width: 170px;
        height: 170px;
        border-radius: 10px 10px 0 0;
    }
    .produk-box .ket{
        padding: 10px;
    }
    .produk-box .ket h2 {
        font-size: 12px;
        height: 35px;
        margin-bottom: 5px;
    }
    .produk-box .ket h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .produk-box .ket div {
        gap: 2px;
    }
    .produk-box .ket div i{
        color: var(--warna4);
        font-size: 9px;
    }
}
@media only screen and (max-width: 866px){
    .produk-container > h1{
        font-size: 18px;
    }
    .produk-list{
        gap: 10px;
    }
    .produk-box{
        border-radius: 5px;
    }
    .produk-box{
        width: 150px;
        height: 250px;
    }
    .produk-box a div img{
        width: 150px;
        height: 150px;
        border-radius: 5px 5px 0 0;
    }
    .produk-box .ket{
        padding: 8px;
    }
    .produk-box .ket h2 {
        font-size: 12px;
        height: 35px;
        margin-bottom: 3px;
    }
    .produk-box .ket h3 {
        font-size: 14px;
        margin-bottom: 3px;
    }
    .produk-box .ket div {
        gap: 1px;
    }
    .produk-box .ket div i{
        color: var(--warna4);
        font-size: 7px;
    }
}
@media only screen and (max-width: 771px){
    .produk-container{
        margin: 20px;
    }
}
@media only screen and (max-width: 430px){
    .produk-container{
        margin: 15px;
    }
    .produk-container > h1{
        font-size: 15px;
    }
}
@media only screen and (max-width: 361px){
    .produk-container{
        margin: 5px;
    }
    .produk-list{
        gap: 7px;
    }
    .produk-box{
        border-radius: 5px;
    }
    .produk-box{
        width: 135px;
        height: 220px;
    }
    .produk-box a div img{
        width: 135px;
        height: 135px;
        border-radius: 5px 5px 0 0;
    }
    .produk-box .ket{
        padding: 8px;
    }
    .produk-box .ket h2 {
        font-size: 12px;
        height: 35px;
        margin-bottom: 3px;
    }
    .produk-box .ket h3 {
        font-size: 14px;
        margin-bottom: 3px;
    }
    .produk-box .ket div {
        gap: 1px;
    }
    .produk-box .ket div i{
        display: none;
    }
}


/* footer section */
#footer{
    position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    min-height: 450px;
    background-color: var(--warna3);
    box-shadow: 0 5px 8px 0 lightgrey, 0 6px 20px 0 #EEEEEE;
}
.footer-container{
    width: 1131px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15%;
    padding: 50px;
    margin: 0 auto;
}
.link1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box-footer{
    width: 250px;
}
.box-footer h2{
    font-family: 'Montserrat', sans-serif;
    color: var(--warna4);
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5px;
}
.box-footer div{
    padding: 5px;
}
.box-footer div a{
    color: var(--warna1);
    font-size: 13px;
    letter-spacing: .5px;
}
.box-footer div a i{
    padding: 8px;
    font-size: 14px;
}
.ikut-box{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    gap: 4px;
}
.ikut-box div{
    width: 50px;
    height: 50px;
    text-align: center;
}
.ikut-box div:nth-child(1){
    background: #3C5A99;
}
.ikut-box div:nth-child(2){
    background: #00ACED;
}
.ikut-box div:nth-child(3){
    background: transparent linear-gradient(158deg, #4365c9 0%, #9a3bb0 20%, #ec4a62 51%, #ffd253 100%) 0% 0% no-repeat padding-box;;
}
.ikut-box div:nth-child(4){
    background: #65BC54;
}
.ikut-box div a i{
    color: var(--warna3);
    font-size: 25px;
}


/* footer */
footer{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--warna1);
    height: 70px;
    display: flex;
    justify-content: center;
}

footer div{
    display: flex;
    margin: auto;
    height: 30px;
    text-align: center;
    border-radius: 50px;
}
footer div h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: auto;
    letter-spacing: 0.5px;
    color: var(--warna4);
}

.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #EA8D30;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.social-links a:hover{
    color: #fff;
    background-color: #EA8D30;
}