@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --warna1 : #605CA8;
    --warna2 : #F8F8F8;
    --warna3 : #fff;
    --warna4 : #EA8D30;
    --warna5 : #a39fdf;
    --warna6 : #FF1E00;
    --warna7 : #111;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--warna2);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}


/* link set */
#detail{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.container-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    width: 1200px;
    min-height: 1000px;
    border: 1px solid #111;
    gap: 30px;
}
.link-set {
    background-color: var(--warna3);
    border-radius: 20px;
    box-shadow: -5px 4px 6px #00000020;
    width: 250px;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 20px;
}
.foto-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);
    margin: 0 auto;
}
.foto{
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
}
.foto img{
    width: 100%;
    height: 100%;
}
.profile-saya,
.pesanan-saya{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 12px;
}
.profile-saya h2,
.pesanan-saya h2{
    text-transform: uppercase;
    font-size: 16px;
    color: var(--warna7);
}
.profile-saya a,
.pesanan-saya a{
    width: max-content;
    color: var(--warna4);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
}
.pesanan-saya{
    padding-bottom: 10px;
}

.data-profile{
    width: 825px;
    min-height: 400px;
    background-color: var(--warna3);
    border-radius: 20px;
    box-shadow: -5px 4px 6px #00000020;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}
.data-header h1{
    text-transform: capitalize;
    font-size: 25px;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);
    padding-bottom: 10px;
}