@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --warna1 : #605CA8;
    --warna2 : #F8F8F8;
    --warna3 : #fff;
    --warna4 : #EA8D30;
    --warna5 : #a39fdf;
    --warna6 : #FF1E00;
    --warna7 : #111;
    --warna8 : #64646466;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--warna2);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}


/* link set */
#detail{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.container-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    width: 1200px;
    height: max-content;
    gap: 30px;
}
.link-set {
    background-color: var(--warna3);
    border-radius: 20px;
    box-shadow: -5px 4px 6px #00000020;
    width: 250px;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 20px;
}
.foto-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);
    margin: 0 auto;
}
.foto{
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
}
.foto img{
    width: 100%;
    height: 100%;
}
.profile-saya,
.pesanan-saya{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 12px;
}
.profile-saya h2,
.pesanan-saya h2{
    text-transform: uppercase;
    font-size: 16px;
    color: var(--warna7);
}

.profile-saya span,
.pesanan-saya span{
    width: max-content;
    color: var(--warna8);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    cursor: pointer;
}

.pesanan-saya{
    padding-bottom: 10px;
}

.form-alamat,
.form-dataprofil{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 20px;
}

.data-profile{
    display: flex;
    width: 825px;
    min-height: 400px;
    background-color: var(--warna3);
    border-radius: 20px;
    box-shadow: -5px 4px 6px #00000020;
    padding: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}
.data-header h1{
    text-transform: capitalize;
    font-size: 25px;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);
    padding-bottom: 10px;
}
.pilih-gambar{
    width: 100%;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 20px;
}

.pilih-gambar input {
    color: transparent;
    margin: 0 auto;
    margin-bottom: -20px;
    width: 115px;
}
.pilih-gambar input::-webkit-file-upload-button {
    visibility: hidden;
}
.pilih-gambar input::before {
    content: 'Pilih Gambar';
    color: var(--warna4);
    display: inline-block;
    background: transparent;
    border: 1px solid var(--warna4);
    border-radius: 50px;
    padding: 6px 16px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    text-shadow: -5px 4px 6px #00000020;
    font-family: 'Montserrat', sans-serif;
    font-size: 9pt;
}
.pilih-gambar input:hover::before {
    color: var(--warna7);
}
.pilih-gambar input:active {
    outline: 0;
}
.pilih-gambar input:active::before {
    background: transparent; 
}
.pilih-gambar div{
    margin-top: 40px;
    width: 100%;
}
.pilih-gambar div p{
    color: var(--warna4);
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.notlp-data,
.nama-data,
.email-data{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 5px;
}
.notlp-data label,
.nama-data label,
.email-data label{
    text-transform: capitalize;
    font-size: 14px;
    color: var(--warna7);
}
.notlp-data label::after,
.nama-data label::after,
.email-data label::after{
    content: " *";
    color: var(--warna6);
}
.notlp-data input,
.nama-data input,
.email-data input{
    background-color: var(--warna2);
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    outline: none;
}

.btn-profil{
    background-color: var(--warna4);
    width: 120px;
    height: 35px;
    border: 1px solid var(--warna4);
    border-radius: 50px;
    color: var(--warna3);
    padding: 5px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -.2px;
    margin-left: 80%;
    cursor: pointer;
}
.btn-profil:hover{
    background-color: transparent;
    border: 2px solid var(--warna4);
    color: var(--warna4);
}

/* alamat */
.data-alamat{
    display: none;
    width: 825px;
    min-height: 400px;
    background-color: var(--warna3);
    border-radius: 20px;
    box-shadow: -5px 4px 6px #00000020;
    padding: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

.kodepos-data,
.kelurahan-data-data,
.kecamatan-data,
.kabkot-data,
.provinsi-data,
.alamat-data,
.nopenerima-data,
.penerima-data{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 5px;
}

.kodepos-data label,
.kelurahan-data label,
.kecamatan-data label,
.kabkot-data label,
.provinsi-data label,
.alamat-data label,
.nopenerima-data label,
.penerima-data label{
    text-transform: capitalize;
    font-size: 14px;
    color: var(--warna7);
}

.kodepos-data label::after,
.kelurahan-data label::after,
.kecamatan-data label::after,
.kabkot-data label::after,
.provinsi-data label::after,
.alamat-data label::after,
.nopenerima-data label::after,
.penerima-data label::after{
    content: " *";
    color: var(--warna6);
}

.kodepos-data select,
.kelurahan-data select,
.kecamatan-data select,
.kabkot-data select,
.provinsi-data select,
.alamat-data input,
.nopenerima-data input,
.penerima-data input{
    background-color: var(--warna2);
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    outline: none;
}

.kodepos-data select,
.kelurahan-data select,
.kecamatan-data select,
.kabkot-data select,
.provinsi-data select{
    padding: 10px;
}

